body {
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: rgb(233, 17, 17);
  }